<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- bean definitions here -->
    <!--    beans are objects managed by spring framework-->
    <bean id="alien" class="com.telusko.Alien" autowire="byType">
<!--        setting values through property tag-->
        <property name="age" value="21"/>
        <property name="comp" ref="comp1"/>  <!-- here we pass bean id as reference -->

        <!--        using constructor to set the value-->
<!--        <constructor-arg value="21"/>-->
<!--        <constructor-arg ref="lap1"/>-->
<!--        getting values using index we dont have to worry about sequence-->

<!--        <constructor-arg index="1" ref="lap1"/>-->
<!--        <constructor-arg index="0" value="21"/>-->
    </bean>

    <bean id="comp1" class="com.telusko.Laptop" primary="true"/>
    <bean id="comp2" class="com.telusko.Desktop" lazy-init="true"/> <!-- object will be created only when we need it since we used lazy-init -->

</beans>